@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}






@media (max-width: 1680px) {
    .nav{
        height: 130px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .blueSpace{
        background-color: #0079c0;
        display: block;
        height: 120px;
        width: 100%;
        margin-left: 20px;
    }
    .icon{
        border: solid #0079c0;
        width: 100px;
        margin-left: 30px;
        display: flex;
        justify-content: column;
    }
    .tabs{
        font-size: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }
    .tabs:hover {
        border-bottom: solid #0079c0;
        border-width: 7px;
    }
    #menu{
        display: none;
    }
    .space{
        display: none;
        
    }
    
}

@media (max-width: 1280px) {
    .nav{
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .blueSpace{
        background-color: #0079c0;
        height: 150px;
        width: 100%;
        margin-left: 0%;
    }
    .icon{
        width: 100px;
        margin-left: 30px;
        display: flex;
        justify-content: space-between;
    }
    .tabs{
        font-size: 10px;
        display: none;
        justify-content: space-evenly;
        align-items: center;

    }
    #menu{
        display: block;
        background-color: white;
        
    }
    .space{
        display: none;
        border-top: solid lightgrey;
    }
    .icons{
        border-bottom: solid lightgrey;
        height: 40px;
        width: 100%;
        font-size: 12px;
        padding: 10px;
        display: flex;

    }
    .icons:hover{
        color: #0079c0;
    }
}

@media (max-width: 640px) {
    .nav{
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .blueSpace{
        background-color: #0079c0;
        height: 100px;
        width: 100%;
        margin-left: 0%;
    }
    .icon{
        width: 100px;
        margin-left: 30px;
        display: flex;
        justify-content: space-between;
    }
    .tabs{
        font-size: 10px;
        display: none;
        justify-content: space-evenly;
        align-items: center;

    }
    #menu{
        display: block;
        background-color: white;
        
    }
    .space{
        display: none;
        border-top: solid lightgray;
    }
    .icons{
        border-bottom: solid lightgrey;
        height: 40px;
        width: 100%;
        font-size: 12px;
        padding: 10px;
        display: flex;
    }
    .icons:hover{
        color: #0079c0;
    }
}



.logo{
    height: 100%;
    width: 200px;
    
}
.banner1{
    display: flex;
    justify-content: center;
    animation: fadeIn 5s
}
.info{
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 60%;
    height: 130px;

}
.checkList{
    border: solid lightgrey;
    height: 300px;
    width: 75%;
    display: flex;
    justify-content: center;
}
.scholas{
    height: 500px;
    width: 100%;
    display: block;
    justify-content: center;
    animation: fadeIn 5s;
}

.show{
    display: block;
}
